# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv/
venv/
env/

# IDE
.idea/
.vscode/
.DS_Store

# Distribution / Build
build/
dist/
*.egg-info/

# Logs
*.log

# Data (ETL specific)
data/
output/
temp/
data_volume/
data_volume_copy/
#data_volume 21-12-2025 13_42/
#data_volume 21-12-2025 20_05/

# Dagster
.tmp_*

#Gemini
.gemini/
